* {
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.clear {
    clear:both;
}
.border {
    border: 1px solid red;
}

                                                     /* Início do menu superior */
#menu_sup {
    background-color: #284c71;
    position: relative;
    background-image:  url(images/logo.png), url(images/detalhe-topo.png), url(images/fundo.png);
    background-position: top 10% left 30% , right 30% top, bottom left;
    background-repeat: no-repeat, no-repeat, repeat-x;
    padding: 115px;
    min-width: 800px;
}

#menu_links ul li {
    list-style-type: none;
    display: inline;
    float: inline-end;
}

#menu_links {
    position: absolute;
    top: 54%;
    left: 24%;
}

#menu_links ul .primeiro {
    background-image:none;
}

#menu_sup a:link, a:visited {
    /* background */
    background-color: #de003e;
    padding: 12px;
    margin-left: -4px;
    background-image: url(images/divisor.png);
    background-repeat: no-repeat;
    background-position: left;
    /* text */
    text-decoration: none;
    font-weight: 600;
    color: #FFF
}

#menu_sup a:hover, a:active {
    /* background */
    background-color: #AE0032;
    padding: 12px;
    margin-left: -4px;
    background-image: url(images/divisor.png);
    background-repeat: no-repeat;
    background-position: left;
    /* text */
    text-decoration: none;
    font-weight: 900;
    color: #FFF
}



                                                     /* Fim do menu superior */
                                                     /* Início dos conteúdos */

.float {
    float: left;
}

#body_content {
    margin-left: 15%;
    margin-right: 15%;
    min-width: 60rem;
}
 

.background {
    background-image: url(images/fundo-caixa.png);
    width: 15rem;
    margin: 2rem;
}

.background h2 {
    margin: 20px 90px 20px 0px;
    line-height: 30px;
    padding: 8px;
    background-color: #284c71;
    color: #fff;
    text-align: left;
    width: 15rem;   
}

.background h4 {
    color: #fff;
    font-size: 0.68rem;
    text-transform: uppercase;
    background-color: #AE0032;
    width: 13.4rem;
    line-height: 1rem;
    padding: 0.12rem;
    margin: 1em;
}

.background h6 {
    color:#4d87c0;
    margin: 1rem;
    position: relative;
    top: 0.5rem;
}

#img_entrevista img {
    padding: 1rem;
    width: 15rem;

}

#img_destaque img {
    padding: 1rem;
    width: 15rem;
}

.img_comp img {
    padding: 0.5rem;
    width: 8rem;
    float: left;
}


                                                     /* Fim dos conteúdos */

